html {
    font-size: 100%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

* {

    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main-banner {
    width: 100% !important;
    height: 500px !important;
}

.banner {
    position: relative;
    width:800px;
    height: 100%;
    background-image: url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}


.bg-color{
    background-color: rgb(113, 196, 252) !important;
}


.banner-text{
    background-color: #6c757d;

    width:40vw;

    border-radius: 10px;

    padding: 15px;

    position: absolute;

    top: 3vw;

    left: 3vw;
}

.img-banner{
    width: 35vw;

}

.contact-banner {
    margin: 25px 0;
}


.contact-banner p{

    font-size:1.5vw;

    font-weight: 100;

}

.btn-banner{
    font-size:14px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 13px;
    border-radius: 5px;
    border: none;
    background-color: #6c757d;
    transition: background-color .2s ease-in-out;
}

.btn-banner:hover{
    background-color: #99a7b3;
}

.txt-spin{
    background-color: #6c757d;

    margin: 100px 0;

    padding: 20px;

    border-radius: 5px;

    text-align: center;

    color: rgb(113, 196, 252);

    font-size: 15px;
}

.txt-spin h1{
    font-size: 25px;

    font-weight: bolder;
}

.card{
    width: 300px;
    text-align: center;
}

.footer{
    background: linear-gradient(236deg,rgb(123, 196, 252),rgb(95, 97, 96));
}


@media  (max-width:800px) {
    .banner{
        width: 100% !important;
        margin: 0 auto;
        background-size:cover;
    }
    .main-banner {
       
        height: 300px !important;
    }
    
    .font{
        font-size: 10px;
    }
    
}

